#
# Copyright 2018 Rika Lena Denia, comNET GmbH <rika.denia@comnetgmbh.com>
#
# This file is part of check_cmkagent.
#
# check_cmkagent is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# check_cmkagent is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with check_cmkagent.  If not, see <http://www.gnu.org/licenses/>.
#

define command {
    name            check_cmkagent_active
    command_name    check_cmkagent_active
    command_line    $USER2$/check_cmkagent_active $HOSTADDRESS$
}

define command {
    name            check_cmkagent_passive
    command_name    check_cmkagent_passive
    command_line    python /ccmk/test.py -H $HOSTADDRESS$ -a $ARG1$ -w $ARG2$ -c $ARG3$
}
