[%#
# Copyright 2018 Rika Lena Denia, comNET GmbH <rika.denia@comnetgmbh.com>
#
# This file is part of check_cmkagent.
#
# check_cmkagent is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# check_cmkagent is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with check_cmkagent.  If not, see <http://www.gnu.org/licenses/>.
#%]

[% PROCESS _header.tt
        js           => []
        css          => [],
        extra_header => '',
%]

<style>
    tr td {
        text-align: left;
    }

    .added_notice {
        background-color: #92d950;
        padding: 10px;
        margin: 10px;
        margin-top: 20px;
        border-style: solid;
    }

    .added_notice > img {
        vertical-align: middle;
        padding-right: 10px;
    }
</style>

[% IF added %]
    <div class="added_notice">
        [% IF added.service.entity %]
            [% SET entity = ": $added.service.entity" %]
        [% END %]
        <img src="../themes/Thruk2/images/accept.png">Added service [% added.service.section %] for host[% entity %]
    </div>
[% END %]

<table class='status [% paneprefix %]_table' style="width: 100%">
    <tr>
        <th class="status col">Host</th>
        <th class="status col">Service</th>
        <th class="status col">Entity</th>
        <th class="status col">Threshold warning (%)</th>
        <th class="status col">Threshold critical (%)</th>
        <th class="status col">Generate</th>
    </tr>
        [% FOR host_name IN hosts.keys().sort() %]
            [% SET host = hosts.$host_name %]
            [% SET first_service = 1 %]
            [% SET even = 'statusEven' %]
            [% FOR service_id IN host.services.keys().sort() %]
                [% SET service = host.services.$service_id %]
                <form method="POST" action="check_cmkagent_add.cgi?host=[% host.name %]&service=[% service.id %]">
                    <tr class="[% even %]">
                        <td class="[% even %]">
                            [% IF first_service %]
                                [% host.name %]
                            [% END %]
                        </td>
                        <td class="[% even %]">
                            [% service.section %]
                            [% IF service.specialization %]
                                ([% service.specialization %])
                            [% END %]
                        </td>
                        <td class="[% even %]">[% service.entity %]</td>
                        <td class="[% even %]"><input type="text" name="warn" value="60"></td>
                        <td class="[% even %]"><input type="text" name="crit" value="80"></td>
                        <td class="[% even %]">
                            <input type="submit" value="Generate">
                        </td>
                    </tr>
                </form>
                [% SET first_service = 0 %]
                [% IF even == 'statusEven' %]
                    [% SET even = 'statusOdd' %]
                [% ELSE %]
                    [% SET even = 'statusEven' %]
                [% END %]
            [% END %]
        [% END %]
    
</table>
